@import '../base/variables';
@import '../base/extends';

footer{
    background-color: $celeste-fondo;
    text-align: center;
    padding: 20px;
    color: $rosa-principal;
    margin-top: 40px;
    font-size: 1.5em;
    position: relative;
    .redes{
        a {
            outline: none;
            border: none;
            text-decoration: none;;
        }    
        img{
            width: 30px;
            margin: 0 5px;
            transition: transform 0.3s;

            &:hover{
                transform: scale(1.1);
            }
        }
    }
}