@import '../base/variables';

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    .navbar {
        background-color: $celeste-fondo !important;
        min-height: 100px;
        .navbar-brand {
            display: flex;
            align-items: center;
            text-decoration: none;
            img {
                height: 70px !important;
                width: 70px !important;
                border-radius: 50%;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                margin-right: 50px !important;
            }
            span {
                color: $rosa-principal;
                font-size: 3.125rem;
                font-family: $fuente-cursiva;
                line-height: 1;
            }
        }
        .nav-link {
            font-family: $fuente-normal;
            font-size: 1rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            color: $rosa-principal;
            img {
                width: 30px;
                height: 30px;
                border-radius: 100px;
            }
            &:hover {
                color: white;
            }   
        }
    }
}
