@mixin flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Variables de breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 768px;
$breakpoint-xl: 2570px;

