@mixin flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//mixins media

@mixin respond-xs{
    @media (max-width: $breakpoint-xs){
        @content;
    }
}

@mixin respond-sm{
    @media (max-width: $breakpoint-sm){
        @content;
    }
}

@mixin respond-xl{
    @media (min-width: $breakpoint-xl){
        @content;
    }
}
