$rosa-principal: #C14649;
$rosita-fondo: #FFC2C7;
$celeste-fondo: #C7E0E3;
$fuente-cursiva: "Dancing Script", cursive;
$fuente-normal: Verdana, Geneva, Tahoma, sans-serif;
$color-title-cc: #a91d60;

// Variables de breakpoints
$breakpoint-xs: 400px;
$breakpoint-sm: 768px;
$breakpoint-xl: 2570px;