@import "../base/variables";
@import "../base/extends";

.info-sucursal{
    padding-top: 100px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    backdrop-filter: blur(8px);
    padding: 20px;
    margin: 50px auto;
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    gap: 10px;
    .fondo-fijo{
        @extend %fondo;
    }
    h2{
        color: $rosa-principal;
        font-family: $fuente-normal;
        font-size: 36px;
        margin-bottom: 10px;
    }
    p{
        font-size: 18px;
        font-family: $fuente-normal;
    }
    .ubicacion{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}